{% extends 'layouts/base.html' %}

{% block title %} IOS-XE Viewer {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col ">
            <h3 class="mb-0 mb-0 text-center">Interface Configuration</h3>
            <br/>
          </div>
        </div>
        <form id="interfaceForm" method="post" action="{{ url_for('base_blueprint.add_int_to_po') }}">
           <div class="form-group">
             <label class="font-weight-bold">Interface</label>
             <input value="{{ interface }}" class="form-control" placeholder="{{ interface }}" name="poInterface">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Vlan</label>
            <div class="input-group mb-3">
              <select class="custom-select" id="interface" name="interface">
                  <option selected>Choose...</option>
                {% for i in interfaces %}
                  <option value="{{ i['interface'] }}">{{ i['interface'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br/>
          <input value="Submit" type="submit" class="btn btn-dark" id="modifyPoInt">
          <br/>
          <br/>
        </form>
      </div>
    </div>
  </div>
</div>


 {% endblock content %}

{% block javascripts %}


{% endblock javascripts %}